body {
  margin: 20px;
  background-color: #080f1c;
  color: white;
  background-image: url('img/fondNoir.jpg');
  background-size: cover;
}

h1{
	text-align: center;
	margin-bottom: 2em;
	margin-top: 1em;
}

.grid {
  margin: auto;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 1rem;
}

.row {
  display: flex;
}
.box {
  background: #0c316d;
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;

}
.box:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/////////////
.box {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}
.box:active {
  color:#a50404;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

input{
	background-color: #0c316d;
	border: none;
	width: 90%;
	color: white;
	text-align: center;
	height: 100%;
	font-weight: bold;
}

p{
	margin-top: 1em;
	text-align: center;
	flex: 1 0 auto;
  position: relative;
  font-weight: bold;
  visibility: hidden;
  color: rgb(0,200,0);
}

img{
  height: 100px;
  width: 100px;
  float: left;
}

.box{
  transition: 1s ease;
}

.box:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: .5s ease;
  box-shadow: 0 0 5px -1px RGB(255, 0, 0);
  color: RGB(255, 0, 0);
}

#main{
  display: flex;
}

#instr{
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  display: none;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  text-shadow: 2px 2px black;
}

h1{
  padding-top: 1em;
}

footer{
  margin-top: 2em;
  justify-content: center;
  display: flex;
}

.logoFooter{
  width: 150px;
  height: 160px;
}

.logoFooter + .logoFooter{
  margin-left: 10em;
  width: 200px;
  height: 160px;
}

#instructions{
  padding: 1em;
  border-radius: 5px;
  background-color: rgb(75,75,125);
  color: white;
  width: 10em;
  height: 5em;
  border: none;
  box-shadow: 2px 2px black;
}

#reset{
  padding: .5em;
  border-radius: 5px;
  background-color: rgb(75,150,75);
  color: white;
  border: none;
  box-shadow: 2px 2px black;
}

#divReset{
 text-align: center;
 margin-bottom: 4em;
 margin-right: 4em;
}