body {
  margin: 20px;
  background-color: #080f1c;
  color: white;
  background-image: url('img/fondNoir.jpg');
  background-size: cover;
}

h1{
	text-align: center;
	margin-bottom: 2em;
	margin-top: 1em;
}

.grid {
  margin: 0 auto;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 1rem;
}
.row {
  display: flex;
}
.box {
  background: #0c316d;
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;

}
.box:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/////////////
.box {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}
.box:active {
    color:#a50404;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

input{
	background-color: #0c316d;
	border: none;
	width: 90%;
	color: white;
	text-align: center;
	height: 100%;
	font-weight: bold;
}

p{
	margin-top: 1em;
	text-align: center;
	flex: 1 0 auto;
  position: relative;
  font-weight: bold;
  visibility: hidden;
  color: green;
}

#win{
	background-color: rgb(0,120,0);
	position: absolute;
	top: 15em;
	left: 22em;
	z-index: 1;
	padding: 3em;
}

#close{
	position: absolute;
	top: 14em;
	left: 63.8em;
	width: 1%;
	z-index: 2;
}

#end{
	visibility: show;
}

img{
  height: 100px;
  width: 100px;
}

.box{
transition: 1s ease;
}

.box:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: .5s ease;
box-shadow: 0 0 5px -1px RGB(0, 200, 0);
color: RGB(0, 255, 0);
}

#main{
    display: flex;
}

#instr{
  font-size: 1.1em;
}
