body {
  background-color: #1f204c;
  color: #f6f6f6;
  margin: 0;
  font-family: "Baloo", cursive;
  overflow-x: hidden;
}
body #hidden {
  display: none;
}
body #game {
  width: 100vw;
  min-height: 100vh;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_default.png), auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body #game[cursor][cursor="default"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_default.png), auto;
}
body #game[cursor][cursor="1"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_1.png), auto;
}
body #game[cursor][cursor="2"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_2.png), auto;
}
body #game[cursor][cursor="3"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_3.png), auto;
}
body #game[cursor][cursor="4"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_4.png), auto;
}
body #game[cursor][cursor="5"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_5.png), auto;
}
body #game[cursor][cursor="6"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_6.png), auto;
}
body #game[cursor][cursor="7"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_7.png), auto;
}
body #game[cursor][cursor="8"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_8.png), auto;
}
body #game[cursor][cursor="9"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_9.png), auto;
}
body #game[cursor][cursor="0"] {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_clear.png), auto;
}
body #game #board {
  display: flex;
  flex-direction: column;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  min-width: 600px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
  margin-top: 10px;
}
body #game #board .row {
  display: flex;
  flex-direction: row;
}
body #game #board .row > div {
  width: 80px;
  height: 80px;
  margin: 10px;
}
body #game #board .row > div.number, body #game #board .row > div.symbol, body #game #board .row > div.result {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 80px;
  text-align: center;
  font-size: 60px;
}
body #game #board .row > div.number, body #game #board .row > div.symbol {
  border-radius: 8px;
}
body #game #board .row > div.number {
  background-color: #5f61bb;
  box-shadow: 0 8px 0 0 #434596;
  transition: all 0.25s -0.1s;
}
body #game #board .row > div.number:active {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  box-shadow: 0 0px 0 0 #434596;
}
body #game #board .row > div.symbol {
  background-color: #424392;
  box-shadow: 0 8px 0 0 #313378;
}
body #game #board .row > div.result {
  position: relative;
  font-size: 40px;
  /*&[actual]:after { //Unincluded feature to show the actual answer but it looked a bit messy
     content: attr(actual);
     position: absolute;
     top:50%;
     left:50%;  
     transform:translate(-50%,-20%);
     font-size:18px;
     opacity:0.8;
  }*/
}
body #game #board .row > div.result.correct {
  color: #2ecc71;
}
body #game #board .row > div.result.wrong {
  color: #d8334a;
}
body #game #keyboard {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
body #game #keyboard .key {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 10px;
  font-size: 52px;
  border-radius: 8px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #5f61bb;
  box-shadow: 0 8px 0 0 #434596;
  transition: all 0.25s -0.1s;
}
body #game #keyboard .key.used {
  background-color: #424392;
  box-shadow: 0 8px 0 0 #313378;
}
body #game #keyboard .key.used:active {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  box-shadow: 0 0px 0 0 #313378;
}
body #game #keyboard .key.used.selected {
  color: #424392;
  background-color: #dddddd;
  box-shadow: 0 16px 0 0 #c8c8c8;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
body #game #keyboard .key.used.selected:active {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  box-shadow: 0 0px 0 0 #c8c8c8;
}
body #game #keyboard .key:not(.used):active {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  box-shadow: 0 0px 0 0 #434596;
}
body #game #keyboard .key:not(.used).selected {
  color: #5f61bb;
  background-color: #f6f6f6;
  box-shadow: 0 16px 0 0 #cccccc;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
body #game #keyboard .key:not(.used).selected:active {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  box-shadow: 0 0px 0 0 #cccccc;
}
body #winner {
  position: fixed;
  top: 50%;
  left: 0px;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #2aba66;
  text-align: center;
}
body #winner .header {
  margin: 40px 0;
  font-size: 60px;
  margin-bottom: -20px;
}
body #winner #new {
  margin-bottom: 30px;
}
body #winner #close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0 14px;
  font-size: 32px;
}
body #winner:not(.show) {
  display: none;
}

h1{
  text-align: center;
  
}
